<h1>Income</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bonus</th>
      <td>Bonus</td>
      <td>I was given a christmas bonus this year! </td>
      <td>$200</td>
      <td>12/22/2022</td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td>Category</td>
      <td>Description</td>
      <td>Amount</td>
      <td>Date</td>
    </tr>
  </tbody>
</table>